<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Packing List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    @using PackerTracker.Models;

    <h1>My Packing List</h1>
    @if (Model.Count == 0)
    {
      <p>There are no items on the list.</p>
      <a href="/">Go Back to Home</a>
    }
    <ul>
      @foreach (Item item in Model)
      {
        <li><a href="/items/@item.Id">@item.Name</a></li>
      }
    </ul>

    <a href="/items/new">Add a new item.</a>

    <form action="/items/clear" method="post">
      <button type="submit" name="button">Clear the List</button>
    </form>
  </body>
</html>